/* ==============================
    lANDING PAGE - FREECODECAMP
=================================*/

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600&display=swap');

:root {
  --border-menu: #006778;
  --color-purple: #A72693;
  --color-gray: #EEE;

  --color-white: #FFF;
  --color-black: #000;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--color-black);
  font-weight: normal;
  font-family: 'Exo 2', sans-serif;
}

/* REGLAS GENERALES */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* STYLES GENERAL CONTAINER & SECTIONS */
.header__container,
.section__container-main {
  width: 94%;
  max-width: 90rem;
  margin: 0 auto;

  display: flex;
}

/* HEADER */
.header {
  background-color: var(--color-white);
  position: sticky;
  top: 0;
}

.header__container {
  align-items: center;
  justify-content: space-between;

  padding: 1rem 0;
  position: relative;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.logo__image {
  width: 4rem;
}

.logo__text {
  font-size: 2.5rem;
}

/* NAV BAR */
.nav-bar {
  display: flex;
  align-items: center;
}

.interruptor {
  display: none;
}

.btn-menu {
  width: 3.6rem;
  height: 3.6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.btn-menu img {
  width: 100%;
}

.menu {
  width: 96%;
  padding: .3rem;
  border-radius: .5rem;
  border: .1rem solid var(--border-menu);

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  display: none;
  flex-direction: column;
  gap: .3rem;

  background-color: var(--color-white)
}

.menu li {
  border-radius: .5rem;
  border: .1rem solid var(--border-menu);
}

.nav-link {
  display: block;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  text-align: center;
}

.interruptor:checked ~ .menu {
  display: flex;
}





/* MAIN */
.section:nth-child( even ) {
  background-color: var(--color-gray);
}

.section__container-main {
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 1rem;
  text-align: center;
}

.section__container-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.section__title {
  font-size: 3.3rem;
  font-weight: 200;
  line-height: 120%;
}

.section__title strong {
  font-weight: 500;
}

.section__subtitle {
  font-size: 2.8rem;
  font-weight: 600;
  padding: 0 4rem;
}

.section__parrafo-1 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 140%;
}

.section__parrafo-2,
.article__text {
  font-size: 1.5rem;
  font-weight: 300;
}

.section__parrafo-3 {
  font-size: 2rem;
  font-weight: 200;
}

.section__image-2 {
  display: none;
}

.section__btn-cta {
  width: 18rem;
  padding: 1.5rem 0;
  border: none;
  border-radius: 3rem;

  font-size: 1.8rem;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-purple);

  cursor: pointer;
}

.section__container-cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.article-product,
.article-services {
  width: 100%;
}

.article__image {
  margin-bottom: 3rem;
}

.article__title {
  font-size: 1.7rem;
  margin-bottom: .5rem;
  color: var(--color-purple);
}

.article__text {
  padding: 0 4.5rem;
}





/* FORM */
.form {
  width: 94%;
  max-width: 96rem;
  margin: 0 auto;
  padding-bottom: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
}

.input {
  width: 90%;
  padding: 1.3rem 0;
  font-size: 1.7rem;
  text-align: center;

  border-radius: 3rem;
  border: .1rem solid black;
  outline: none;
}

input[type="submit"] {
  width: 90%;
}





/* FOOTER */
.footer {
  padding: 2rem 0 5rem;
  text-align: center;
  font-size: 2rem;
  background-color: var(--color-purple);
}

.footer p {
  color: var(--color-white);
}





/* MODIFICACIONES */
:is(
  .section:nth-of-type(3), 
  .section:nth-of-type(4),
  .section:nth-of-type(6)
  )
.section__subtitle {
  padding: initial;
  font-size: 2.6rem;
}

.section:nth-of-type(3)
.section__subtitle {
  font-weight: 200;
}

.section:nth-of-type(6)
.section__subtitle {
  font-size: 2.9rem;
}

.video {
  width: 100%;
  height: 20rem;
}





@media ( min-width: 400px ) {
  .section__title {
    font-size: 4rem;
  }

  .section__subtitle {
    font-size: 3.3rem;
  }

  .section__parrafo-1 {
    font-size: 1.8rem;
  }

  .section__parrafo-2,
  .article__text {
    font-size: 1.7rem;
  }

  .section__parrafo-3 {
    font-size: 2.3rem;
  }

  .video {
    height: 21rem;
  }

}





@media ( min-width: 700px ) {
  .nav-bar > * {
    margin: initial;
    padding: initial;
    position: initial;
    transform: initial;
    width: initial;
    border: initial;
  }

  .btn-menu {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .menu li {
    border: initial;
  }

  .nav-link {
    padding: initial;
  }






/* SECTIONS */
  .section__image-1,
  .section__image-2 {
    max-width: 40%;
  }
  
  .section:nth-child( odd )
  .section__container-main {
    flex-direction: row;
    justify-content: space-between;
    gap: 8rem;

    padding: initial;
  }

  .section:nth-child( even )
  .section__container-main {
    padding: 5rem 0;
  }
  
  /* SECTION - 1 */
  .section:nth-of-type(1)
  .section__container-small {
    align-items: flex-start;
    justify-content: center;
    text-align: left;
  }

  /* SECTION - 2 */
  .section:nth-of-type(2)
  .section__container-cards {
    flex-direction: row;
    gap: initial;
  }

  /* SECTION - 3 */
  .section__image-2 {
    display: block;
  }

  .section:nth-of-type(3)
  .section__container-small {
    align-items: flex-end;
    justify-content: center;
    text-align: right;
  }

  /* SECTION - 4 */
  .section:nth-of-type(4)
  .section__container-cards {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .section:nth-of-type(4)
  .article-services {
    width: 35%;
    display: flex;
    align-items: center;
    gap: 3rem;
  }

  .section:nth-of-type(4)
  .article__image {
    margin: initial;
  }

  .section:nth-of-type(4)
  .article__text {
    padding: 0 4rem 0 0;
    text-align: left;
  }

  /* SECTION - 5 */
  .section:nth-child(5)
  .section__container-main {
    padding: 5rem 0;
  }

  .section:nth-of-type(5)
  .section__container-small {
    align-items: flex-start;
    text-align: left;
  }

  .video {
    max-width: 35rem;
    height: 20rem;
    align-self: center;
    margin-right: 2rem;
  }

  /* SECTION - 6 */
  .form {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .input {
    width: 30%;
  }

  input[type="submit"] {
    width: 18rem;
  }
}