/* ==============================
    lANDING PAGE - FREECODECAMP
=================================*/

@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500&display=swap');

:root {
  --border-menu: #006778;
  --color-purple: #A72693;
  --color-gray: #EEE;

  --color-white: #FFF;
  --color-black: #000;

  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  color: var(--color-black);
  font-weight: normal;
  font-family: 'Exo 2', sans-serif;
}

/* REGLAS GENERALES */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

/* STYLES GENERAL CONTAINER & SECTIONS */
.container,
.section {
  width: 94%;
  max-width: 96rem;
  margin: 0 auto;

  display: flex;
}

/* HEADER */
.header {
  background-color: var(--color-white);
}

.header
.container {
  align-items: center;
  justify-content: space-between;

  padding: 1rem 0;
  position: relative;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.logo__image {
  width: 4rem;
}

.logo__text {
  font-size: 2.5rem;
}

/* NAV BAR */
.nav-bar {
  display: flex;
  align-items: center;
}

.interruptor {
  display: none;
}

.btn-menu {
  width: 3.6rem;
  height: 3.6rem;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.btn-menu img {
  width: 100%;
}

.menu {
  width: 96%;
  padding: .3rem;
  border-radius: .5rem;
  border: .1rem solid var(--border-menu);

  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);

  display: none;
  flex-direction: column;
  gap: .3rem;

  background-color: var(--color-white)
}

.menu li {
  border-radius: .5rem;
  border: .1rem solid var(--border-menu);
}

.nav-link {
  display: block;
  padding: 1.5rem 0;
  font-size: 1.6rem;
  text-align: center;
}

.interruptor:checked ~ .menu {
  display: flex;
}





/* MAIN */
.main__container:nth-child( even ) {
  background-color: var(--color-gray);
}

.section {
  flex-direction: column;
  gap: 3rem;
  padding: 3rem 0;
  text-align: center;

  /* background-color: #006778; */
}

.section__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.section__title {
  font-size: 3.3rem;
  font-weight: 200;
  line-height: 120%;
}

.section__title strong {
  font-weight: 500;
}

.section__subtitle {
  font-size: 2.8rem;
  padding: 0 4rem;
}

.section__parrafo-1 {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 140%;
}

.section__parrafo-2,
.article__text {
  font-size: 1.5rem;
  font-weight: 300;
}


.section__btn-cta {
  width: 18rem;
  padding: 1.5rem 0;
  border-radius: 3rem;

  font-size: 1.8rem;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-purple);
}


/* ESTO SERA HORIZONTAL EN IPAD */
.section__product {
  display: flex;
  flex-direction: column;
}
/* ================================= */

.article__image {
  margin: 3rem;
}

.article__title {
  font-size: 1.7rem;
  margin-bottom: .5rem;
  color: var(--color-purple);
}

.article__text {
  padding: 0 5rem;
}

























/* IPAD */
/* NO-TOCAR */
@media ( min-width: 700px ) {
  .nav-bar > * {
    margin: initial;
    padding: initial;
    position: initial;
    transform: initial;
    width: initial;
    border: initial;
  }

  .btn-menu {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
    gap: 3rem;
  }

  .menu li {
    border: initial;
  }

  .nav-link {
    padding: initial;
  }
  /* NO TOCAR HASTA AQUI */






  /* PRIMERA SECCION */
  .section {
    flex-direction: row;
    justify-content: space-between;
    gap: 3rem;
  }

  .section div {

    align-items: flex-start;
    text-align: left;


  }



  .seSction__title {
    font-size: 4rem;
  }

  

  .section__figure {
    width: 50%;
  }
  /* FINAL PRIMERA SECCION */

}





